@model OzarkRecovery.Core.Domain.Model.Treatment
@{
    ViewBag.Title = "Show";
}
<h2>
    Show</h2>
<fieldset>
    <legend>Treatment</legend>
    <div class="display-label">
        Current Step:</div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.CurrentStep.Name)
    </div>

    <div>@{Html.RenderAction<DocumentController>(c => c.Widget(Model.CurrentStep.Documents));}</div
    <div>@{Html.RenderAction<PhaseController>(c => c.Widget(Model.CurrentStep.Phases));}</div>
    <div>@{Html.RenderAction<SurveyController>(c => c.Widget(Model.CurrentStep.Surveys));}</div>
<div class="display-label">
    StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>
    <div class="display-label">
        EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
