<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <title>Ozark Recovery | @(ViewBag.Title ?? "Drug and Alcohol Recovery Program")</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css?ver=" + App["version"])" />

    @RenderSection("HeadContent", false)

    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
</head>

<body>

    <div id="page-container">

        <div id="header-container">
            <header class="clearfix">
                <h2><a href="@Url.Content("~/")" title="Tracer Bullet" rel="home">Tracer Bullet</a></h2>
                <h3>Drug and Alcohol Recovery Program</h3>
            </header>
        </div>

        <div id="menu-container">
            <nav class="clearfix">
                <ul>
                    <li>@(Html.ActionLink<HomeController>(c => c.Index(), "Home"))</li>
                    <li>@(Html.ActionLink<HomeController>(c => c.About(), "About"))</li>
                    <li>@(Html.ActionLink<CounselorController>(c => c.Index(), "Counselors"))</li>
                </ul>
            </nav>
        </div>

        <div id="body-container">
            <section class="clearfix">
                @RenderBody()
            </section>
        </div>

    </div>

    <div id="footer-container">
        <footer class="clearfix">
            <p>Tracer Bullet v@(App["version"])</p>
            <p style="font-size: .8em; color: #999;">
                Environment.UserName: @Environment.UserName <br />
                Context.User.Identity.Name @Context.User.Identity.Name
            </p>
        </footer>
    </div>


    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Site.js?ver=" + App["version"])"></script>
    <script type="text/javascript">
        app.webroot = '@Url.Content("~/")';
    </script>

    @{
        var scripts = Html.ViewContext.HttpContext.Items["_scripts"] as IList<string> ?? new string[0];
        foreach (var script in scripts) {
            <script type="text/javascript" src="@Url.Content(script + "?ver=" + App["version"])"></script>
        }
    }

    @RenderSection("ScriptContent", false)

    @* hack to preload the spinning gif *@
    <div class="loading" style="position: absolute; top: -100; width: 1px;"></div>

</body>
</html>
