@model OzarkRecovery.Web.Controllers.LoginViewModel

@{
    ViewBag.Title = "LogOn";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(Model == null ? "" : Model.ErrorMessage)
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessage("Email", "*")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessage("Password", "*")
        </div>

        <p>
            <input type="submit" value="Sign On" />
        </p>
        <input type="hidden" id="returnUrl" value="@ViewContext.HttpContext.Request["ReturnUrl"]" />
    </fieldset>
}
